.entry-details {
    @include margin();

    &-value {
        margin-top: 1rem;
        padding: 0.2rem 0.4rem;
        font-weight: 700;

        &.--authors {
            a {
                display: inline-block;

                &:not(:first-child) {
                    &::before {
                        content: ', ';
                        font-weight: normal;
                        color: black;
                    }
                }
            }
        }
    }

    &-key {
        border-top: 1px solid $light-gray;
        padding: 0.2rem 0.4rem;
        color: $dark-gray;
        font-size: $small-font-size;
    }
}
