.search {

  &-header {
    background: lighten($primary-color, 50%);
    padding: rem-calc(30) 0;
    border-bottom: 1px solid lighten($primary-color, 40%);
  }

  &-export {

    &-button {
      float: right;
      margin: 0 0 0 1rem;
    }

    .fieldset {
      margin: -0.725rem
    }
  }

  &-list {

    @include margin(small);

    list-style-type: none;
    margin-left: 0;

    &-item {
      padding: 0 0 2rem;

      &-check {
        position: relative;
        display: block;
        height: 100%;
        cursor: pointer;
        
        &-input {
          opacity: 0;
        }

        &-input:checked+&-trigger {
          opacity: 1;
        }

        &-trigger {
          text-align: center;
          display: block;
          position: absolute;
          font-size: 2rem;
          top: -0.5rem;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0.2;
        }
      }

      &-result {
        padding: 0;
        margin: 0;
        font-weight: $global-weight-bold;
      }

      &-info {
        display: block;
        font-size: $small-font-size;
        color: $dark-gray;
        list-style-type: none;
        margin: 0;

        &-item {
          display: inline-block;
          padding: 0 1rem 0 0;
        }
      }
    }

    &.mark-all {

      .search-list-item {
        padding: 0;

        &-check-trigger {

          &.is-enabled {
            opacity: 1
          }
        }
      }
    }
  }
}