// Navigation component in sidebar

.navigation {
    $this-padding: 1rem;

    @include margin('small');

    padding: 1rem 0;

    &-header {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 900;
        color: $white;
        padding: 0 $this-padding 2rem;

        span {
            background: linear-gradient($secondary-color, $primary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-list {
        margin: 0;
        list-style: none;

        &-item {

            &-title {
                color: lighten($light-gray, 40%);
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                font-weight: 700;
                font-size: $small-font-size;
                padding: 2rem $this-padding 0.2rem;
            }

            &-link {
                display: block;
                color: $light-gray;
                padding: 0.4rem $this-padding;
                // background: $medium-gray;
                font-weight: 700;
                transition: all 160ms;

                &:hover,
                &:focus {
                    background: darken($corpora-sidebar-background, 4%);
                    color: white;
                }
            }
        }
    }
}
