/*----------------------------------------------------------------
* Settings
*----------------------------------------------------------------
*
* Global variables, site-wide settings, config switches, etc.
*/
// Variables
$corpora-foundation-dir: '~foundation-sites/scss/';
$corpora-transition: all 160ms;
$corpora-gray-base: #3E4345;
$corpora-sidebar-background: $corpora-gray-base;
$corpora-header-font-family: 'Source Sans Pro', serif;
$corpora-margin-base: 2rem;

$fa-font-path: './../fonts';

$global-lineheight: 2;
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Open+Sans:400,600,70');


/*----------------------------------------------------------------
* Generic
*----------------------------------------------------------------
*
* Low-specificity, far-reaching rulesets (e.g. resets).
*/
// Load Foundation Sites
@import '~foundation-sites/scss/foundation';
@import 'generic.foundation-settings';
@import 'generic.foundation-includes';
// Load Fontawesome
@import '~font-awesome/scss/font-awesome';
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
// Mixins
@import 'generic.mixin-margins';

/*----------------------------------------------------------------
* Base
*----------------------------------------------------------------
*
* Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
*/
html,
body {
    height: 100.1%;
}

/*----------------------------------------------------------------
* Helper classes
*----------------------------------------------------------------
*
* Simple classes helpers (e.g. .fullheight {}).
*/

@import 'helpers.margins';

/*----------------------------------------------------------------
* Components / UI
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/
@import 'components.autocomplete';
@import 'components.back';
@import 'components.entry-details';
@import 'components.navigation';
@import 'components.search';

.logo {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 900;
    padding: 0 0 2rem 0;

    span {
        color: $primary-color;
        background: linear-gradient($secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*----------------------------------------------------------------
* Overrides
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/
@import 'overrides.off-canvas';
@import 'overrides.tabs';
