/*----------------------------------------------------------------
* Settings
*----------------------------------------------------------------
*
* Global variables, site-wide settings, config switches, etc.
*/
// Variables
$corpora-foundation-dir: 'node_modules/foundation-sites/scss/';
$corpora-transition: all 160ms;
$corpora-gray-base: #3E4345;
$corpora-sidebar-background: $corpora-gray-base;
$corpora-header-font-family: 'Playfair Display';
$corpora-margin-base: 2rem;
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

/*----------------------------------------------------------------
* Generic
*----------------------------------------------------------------
*
* Low-specificity, far-reaching rulesets (e.g. resets).
*/
// Load Foundation Sites
@import 'node_modules/foundation-sites/scss/foundation';
@import 'generic.foundation-settings';
@import 'generic.foundation-includes';
// Mixins
@import 'generic.mixin-margins';

/*----------------------------------------------------------------
* Base
*----------------------------------------------------------------
*
* Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
*/
html,
body {
    height: 100%;
}

input[type='file'] {
    // background: $input-background;
    // border: $input-border;
}

/*----------------------------------------------------------------
* Helper classes
*----------------------------------------------------------------
*
* Simple classes helpers (e.g. .fullheight {}).
*/

@import 'helpers.margins';

/*----------------------------------------------------------------
* Components / UI
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/
@import 'components.autocomplete';
@import 'components.back';
@import 'components.entry-details';
@import 'components.navigation';
@import 'components.search';

/*----------------------------------------------------------------
* Overrides
*----------------------------------------------------------------
*
* Discrete, complete chunks of UI (e.g. .carousel {}).
*/
@import 'overrides.off-canvas';
